Django>=5.2,<7.0
djangorestframework>=3.16,<4.0
djangorestframework-simplejwt>=5.5,<6.0
django-cors-headers>=4.7,<5.0
dj-database-url>=2.3,<4.0
psycopg[binary]>=3.2,<4.0
python-decouple>=3.8,<4.0
Pillow>=10.2,<13.0
whitenoise>=6.9,<7.0
gunicorn>=23.0,<24.0
stripe>=11.0,<14.0
